:root{
    /*=-=-=-=-=-=FIOLETOWY=-=-=-=-=-=*/
    --fbgdark: linear-gradient(35deg, #090013, #17002e);/*Tło (gradient)*/
    --fblack: #090012;/*Ciemny (prawie czarny) fiolet*/
    --fwhite: #fbf7ff;/*Jasny (prawie biały) fiolet*/
    --fdarker: #100120;/*Bardzo ciemny fiolet*/
    --fdark: #26024a;/*Ciemny fiolet*/
    --flighter: #eddcff;/*Bardzo jasny fiolet*/
    --flight: #e0c2ff;/*Jasny fiolet*/
    --fnav: linear-gradient(35deg, #331800, #a35b18);/*Gradient dla nawigacji*/
    --fprimary: #68359f;/*Główny kolor*/
    --fhover: #190e25;/*Hover*/

    /*=-=-=-=-=-=POMARAŃCZOWY=-=-=-=-=-=*/
    --obgdark: linear-gradient(35deg, #331800, #a35b18);/*Tło (pomarańcz)*/
    --oblack: #1a0c00;/*Ciemny (prawie czarny) pomarańcz*/
    --owhite: #fff7f0;/*Jasny (prawie biały) pomarańcz*/
    --odarker: #8b5424;/*Bardzo ciemny pomarańcz*/
    --odark: #c06f23;/*Ciemny pomarańcz*/
    --olighter: #ffe3c7;/*Bardzo jasny pomarańcz*/
    --olight: #fbb570;/*Jasny pomarańcz*/
    --oprimary: #ff8a00;/*Główny pomarańcz*/
    --ohover: #d77b11;/*Hover*/
}