@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "colors.css";

body{
    font-family: Noto Sans;
    background: var(--fbgdark);
    min-height: 100vh;
    color: var(--fwhite);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    color: var(--fwhite);
    background-color: var(--fgray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a.logo img{
    display: block;
    transition: 0.2s ease;
}
nav a.logo img:hover{
    height: 60px;
    width: 60px;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
nav ul li{
    margin: 0.15px;
    text-align: center;
    display: block;
}
nav ul li > *{
    color: #FFFDFA;
    padding: 14px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
nav ul li a:hover{
    background-color: #343434;
    color: #fefefe;
    font-size: 18px;
    transition: 0.2s ease;
}
nav ul li a:active{
    transition: none;
    background-color: #343434;
    color: #e175bd;
    font-size: 18px;
}
nav ul li span.nav-username{
    font-weight: bold;
    padding: 0px;
    margin-left: 10px;
    color: #7f04ab;
}
